@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@layer {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;
@import "../styles/theme.css";
@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/dropzone/styles.css";

.menu-item-hover-alert {
  color: inherit; /* Use the inherited color for non-hover state */
}

.menu-item-hover-alert:hover {
  color: white;
  background-color: red;
}
.menu-item-hover-blue {
  color: inherit; /* Use the inherited color for non-hover state */
}

.menu-item-hover-blue:hover {
  color: white;
  background-color: rgb(42, 183, 253)
}